{% load static %}
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Satisfy"/>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		
		<!-- Logo -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar"> 
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'equips:index' %}">PCBinHand</a>
		</div>

		<!-- Items -->
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="{% url 'equips:index' %}">
						<span class="glyphicon glyphicon-gift" aria-hidden="true"></span>&nbsp
						Equipments
					</a>
				</li>
				<li class="">
					<a href="/equips/about">
						<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp
						About
					</a>
				</li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li class="active">
					<a href="{% url 'equips:index' %}">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp
						Request Equipment
					</a>
				</li>
				<li class="">
					<a href="{% url 'equips:logout' %}">
						<span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp
						Logout
					</a>
				</li>
			</ul>
			<form class="navbar-form navbar-left" role="search" method="get" action="#">
				<div class="form-group">
					<input type="text" class="form-control" name="q" value="">
				</div>
				<button type="submit" class="btn btn-default">Search</button>
			</form>
		</div>

	</div>
		
	</nav>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'equips/style1.css' %}">
{% if physics_equips_list %}
	<ul>
		{% for e in physics_equips_list %}
			<li><h1><a href="{% url 'equips:detail' e.id %}">{{e.equip_name}}</a></h1><h3><blockquote>Available In Stock -->  {{e.no_in_stock}}</blockquote></h3></li>
		{% endfor %}
	</ul>
{% else %}
	<p>No Equips are available.</p>
{% endif %}